:root {
    --col-dark: #020122;
    --col-white: #ffff;
    --col-middle: #798071;
    --col-bright: #296eb4;
    --col-attention: #92140c;
    --col-attention-active: #c0190d;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#nav-bar {
    background-color: var(--col-dark);
    color: var(--col-white);
    height: 3.5em;
}
#nav-bar h1 {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

#movies-carousel {
    background-color: #dcd5d5;
}
#actors-carousel {
    background-color: #7c7373;
}

/* Details Collapse General */
#info-collapse {
    z-index: 10;
    background-color: rgb(255, 255, 255);
}

.btn-back {
    font-weight: 400;
    background-color: var(--col-attention);
    color: var(--col-white);
}
.btn-back:hover {
    background-color: var(--col-attention-active);
    color: var(--col-white);
}
.btn-back:active {
    background-color: var(--col-attention) !important;
    color: var(--col-white) !important;
}

/* Details - Movies */
#original-title {
    font-weight: lighter;
}

#rating-wrapper {
    background-color: var(--col-bright);
    color: var(--col-white);
    height: 75px;
    width: 75px;
    left: 50%;
    transform: translate(110%, -50%);
    box-shadow: var(--col-dark) 1px 1px 5px;
}
#rating-wrapper > i {
    color: var(--col-middle);
    z-index: -1;
    font-size: 70px;
}

#rating {
    margin-block-end: 0px;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

#reviews .page-item {
    cursor: pointer;
}
#reviews .page-item.disabled,
#reviews .page-item.active {
    cursor: auto;
    pointer-events: none;
}

.review-info {
    display: flex;
    align-items: center;
}

.page-set {
    display: none;
}
.page-set.active {
    display: flex;
}

#current-review .card-text {
    max-height: 10em;
}

.avatar {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 75px;
    height: 75px;
}

/* Details - Actors */
#name {
    margin-block-end: 0px;
    margin-top: 0.375rem;
}

#bio {
    margin-block-end: 0;
}

#bio-src {
    margin: 0px;
    font-style: italic;
    font-size: 0.85em;
}

/* Misc */
.hidden {
    display: none;
}

.dark-bg-transp {
    background-color: rgba(0, 0, 0, 0.652);
}

/* Multi-Slide Movie Carousel */
@media (max-width: 767px) {
    #movies-carousel .carousel-item > div {
        display: none;
    }
    #movies-carousel .carousel-item > div:first-child {
        display: block;
    }
}

#movies-carousel .carousel-item.active,
#movies-carousel .carousel-item-next,
#movies-carousel .carousel-item-prev {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (min-width: 768px) {
    #movies-carousel .carousel-item-end.active,
    #movies-carousel .carousel-item-next {
        transform: translateX(33%);
    }

    #movies-carousel .carousel-item-start.active,
    #movies-carousel .carousel-item-prev {
        transform: translateX(-33%);
    }
}

#movies-carousel .carousel-item-end,
#movies-carousel .carousel-item-start {
    transform: translateX(0);
}
/* End Multi-Slide Movie Carousel */
