body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#nav-bar {
    display: flex;
    justify-content: center;
    background-color: slategray;
    height: 3em;
}

#nav-bar > a {
    color: black;
    text-decoration: none;
    font-size: 2em;
}

/* #upcoming {
} */
#movies-carousel {
    background-color: #dcd5d5;
}
#actors-carousel {
    background-color: #7c7373;
}

/* Multi-Slide Movie Carousel */
@media (max-width: 767px) {
    #movies-carousel .carousel-item > div {
        display: none;
    }
    #movies-carousel .carousel-item > div:first-child {
        display: block;
    }
}

#movies-carousel .carousel-item.active,
#movies-carousel .carousel-item-next,
#movies-carousel .carousel-item-prev {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (min-width: 768px) {
    #movies-carousel .carousel-item-end.active,
    #movies-carousel .carousel-item-next {
        transform: translateX(33%);
    }

    #movies-carousel .carousel-item-start.active,
    #movies-carousel .carousel-item-prev {
        transform: translateX(-33%);
    }
}

#movies-carousel .carousel-item-end,
#movies-carousel .carousel-item-start {
    transform: translateX(0);
}

/* #top-ten .card-img-overlay {
    padding: 0;
} */

.dark-bg-transp {
    background-color: rgba(0, 0, 0, 0.652);
}

#info-collapse {
    z-index: 10;
    background-color: rgb(255, 255, 255);
}

#misc > ul {
    list-style-type: none;
}

.review-info {
    display: flex;
    align-items: center;
}

.hidden {
    display: none;
}
